@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Quicksand", sans-serif;
}

body{
   background-color: #f3f3f3;
   max-width: 100%;
   max-height: 100%;
}

.wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper .left{
  width: 30%;
  background: linear-gradient(to right, #80a6dd, #00e1ff93);
  padding: 30px 25px;
  text-align: center;
  color: #fff;
  margin: 0px;

  
}

.wrapper .left img{
  border-radius: 5px;
  margin-bottom: 10px;
  border-radius: 45px;
}


.wrapper .left h4{
  margin-bottom: 25px;
}

.wrapper .left p{
  font-size: 18px;
}

.wrapper .right{
  width: 70%;
  background: #fff;
  padding: 30px 25px;
}

.wrapper .right .info{
  margin-bottom: 25px;
}

.wrapper .right .info h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data{
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data{
  width: 45%;
}

.wrapper .right .info_data .data h4{
    color: #353c4e;
    margin-bottom: 10px;
    font-size: 40px;
}

.wrapper .right .info_data .data p{
  font-size: 18px;
  margin-bottom: 20px;
  color: #919aa3;

}

.button-36 {
  background-image: linear-gradient(92.88deg, #00a9dd 9.16%,  #00a9dd 43.89%,  #00a9dd 64.72%);
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 20px;
  font-weight: 500;
  height: 4rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 30%;
  width: 30%;
  
}

.button-36:hover {
  box-shadow:  #f3f3f3 0 1px 30px;
  transition-duration: .1s;
  font-size: 21px;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}