    {% extends "pages/base.html" %}
    {% load static %}

    {% block title %}Bài tập Học Sinh{% endblock %} 
    {% block content %}
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/stylehw.css' %}">
    <center><p><h1><label><strong>AUTOMATE HISTORY GRADING</strong><label></h1></p></center>
    </head>
    {% if user.username %}
    {% if user.role == 1 %}
        <center><button class='btn btn-success'  onclick='window.location.href="{% url "nopbai" %}"'>Nộp Bài Tập</button>
        <button class='btn btn-success'  onclick='window.location.href="{% url "thembai" %}"'>Thêm Bài Kiểm Tra</button></center>
    {% else %}
    {% endif %}
    <div class="main">
        {% for baitap in baitapp %}
        <div class="form">
        <button class="button-48" role="button" onclick='window.location.href="/baitap/{{baitap.eid}}"'><span class="text"> {{baitap.title}}</span><p>{{baitap.uid}}({{baitap.uid.stt}})</p></button>
        <button class="btn btn-danger" onclick="window.location.href='delete/{{baitap.eid}}'">Delete</button>
        </div>        
        {% endfor %}

        {% if page_obj.has_next %}
            <button class="btn btn-primary" onclick='window.location.href="{{request.path}}?page={{page_obj.next_page_number}}"' >Tiếp Theo</button>
        {% endif %}
        {% if page_obj.has_previous %}
            <button class="btn btn-primary" onclick='window.location.href="{{request.path}}?page={{page_obj.previous_page_number}}"' >Quay Lại</button>
        {% endif %} 
 </div>
    {% else %}<hr/>
    <h3><center><p>Yo!, đăng nhập dùm cái rồi xem</p></center></h3><hr/>
    {% endif %}
    {% endblock %}