{% extends "pages/base.html" %}
 
{% block title %}{{baitap.title}}{% endblock %}
{% block content %}
<head>
<center><p><h1><label><strong>AUTOMATE HISTORY GRADING</strong><label></h1></p></center>
</head>
<h6><a class ='list' href="{% url 'detail' baitap.id %}">{{baitap.title}} || {{baitap.uid}} || {{baitap.max_point}}</a></h6>
<h6>on {{baitap.create}}</h6></br>
<h4>Bài Làm:</h4>
{{baitap.description|safe|linebreaks}}
<button class="btn btn-danger" onclick="window.location.href='{{request.path}}?delete={{baitap.id}}'">Delete</button>
<br/><button class="btn btn-primary" onclick="window.location.href='{% url 'baitap' %}'">Back</button>
{% endblock %}