{% extends "pages/base.html" %}
{% load static %}
{% block title %}Chỉnh Sửa Câu Hỏi{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/thembai.css' %}">
    <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
<center><p><h1><label><strong>AUTOMATE HISTORY GRADING</strong><label></h1></p></center>
</head>
<form id='theForm' method='POST' action="{% url 'editques' %}">
{% csrf_token %}
{% for a, x in q.items %}
<h2>Chỉnh Sửa Câu Hỏi</h2>
        <label>Câu số:</label><br/>
            <input type="number" name="cauhoi" value="{{x.6}}" required id="id_cauhoi"><br/>
        <label>Câu Hỏi:</label><br/>
            <input type="text" name="title" maxlength="300" value='{{x.2}}' required id="id_title"><br/>
        <label>Số Điểm: </label><br/>
            <input type="number" name="max_point" value="{{x.1}}" step="any" required id="id_max_point"><br/>
        <label>Thông tin:</label><br/>
            <input type="text" name="description" maxlength="500" value='{{x.3}}' required id="id_description"><br/>
        <label>Đáp án:</label><br/>
            <input name="answergv" cols="40" rows="10" value='{{x.5}}' maxlength="700" id="id_answergv"><br/>
        <label>Keyword</label><br/>
            <input name="key" cols="40" rows="10" value='{{x.7}}' required id="id_key"><br/> 
            <input type="number" name="qid1" id="qid1" value='{{x.0}}' required hidden>
            <input type="number" name="eid1" id="eid1" value='{{x.4}}' required hidden>
        <button type='button' id='login1' name='login1'>Save</button>
        <input type=button value="Back" onClick="javascript:history.go(-1);">
</form>
{% endfor %}
<script type="text/javascript">
    $(document).ready(function() {
				$("#login1").click(function(){
				var name1 = $("[name=title]").val();
				var name2 = $("[name=description]").val();
				var name3 = $("[name=max_point]").val();
				var name4 = $("[name=answergv]").val();
				var name5 = $("[name=key]").val();
			if (name1 == "" || name2 == "" || name3 == "" || name4 == "" || name5 == "") {
				Swal.fire({ icon: 'warning', title: 'Thiếu thông tin', text: 'Vui lòng điền đầy đủ thông tin', background: '#fff url(https://www.pngitem.com/pimgs/b/149-1492667_white-background-png.png)'})
		    	return;
			} else {
        		document.getElementById('theForm').submit()
        	}
		})
	})
</script>
{% endblock %}