{% extends "pages/base.html" %}
{% load static %}  
{% block title %}Bài Tập Học Sinh{% endblock %} 
{% block content %}
<head>
<link rel="stylesheet" href="{% static 'css/quesview.css' %}" type="text/css">  
<center><p><h1><label><strong>AUTOMATE HISTORY GRADING</strong><label></h1></p></center>
<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'jquery-cookie/jquery.cookie.js' %}"></script>
</head>
<script>
document.cookie = "token=dsfhi21";
function getCookie(cname) {
let name = cname + "=";
let decodedCookie = decodeURIComponent(document.cookie);
let ca = decodedCookie.split(';');
for(let i = 0; i <ca.length; i++) {
let c = ca[i];
while (c.charAt(0) == ' ') {
  c = c.substring(1);
}
if (c.indexOf(name) == 0) {
  return c.substring(name.length, c.length);
}
}
return "";
}
</script>

{% if user.role == 1 %}
{% else %}
{{user.username}}<br/>
{% endif %}
{{ csrf_input }}
  {% csrf_token %}
    {% for c, d in f.items %}
    {% if user.role == 1 %}
    <h2>Quản lý bài kiểm tra (ID: {{ eid }})</h2>
    {% else %}
    {% endif %}
        <p>Tên: {{d.2}} </p> 
      <input type="text" name="title" id="eid" cols="100" rows="10" maxlength="300" required value="{{eid}}" hidden>
      <p>Thông tin: {{d.3}}</p>
        <i>Thời gian bắt đầu: {{d.4}}<br/>
          Thời gian kết thúc: {{d.5}}<br/>
          Hạn chót nộp bài: {{d.7}}</i><br/><br/>
      <div class="container">
    {% endfor %}
    {% for a, x in s.items %}
    {% if s.items == '' %}
        <center><strong><h1>Bài Kiểm Tra Không Có Câu Hỏi</h1></strong></center>
    {% else %}
        <input value='{{x.4}}' name='eid' id='eid1' hidden>
        <strong>Câu Hỏi Số:</strong> {{x.6}} - ({{x.1}}đ) - <strong>{{x.2}}</strong> - {{x.3}}<br/>
        {% if user.role == 1 %}
            {% if x.5 == None %}
            <i>Chưa Có Đáp Án!</i>
            {% else %}
            - Đáp Án: <i>{{x.5|safe|linebreaks}}</i>
        {% endif %}
        {% else %}
      <form method='POST' action="{% url 'save' eid %}" id='theForm'>
        {% csrf_token %}
        <input value='{{x.0}}' class='ques_id' name='ques_id' hidden>
        <input name='uid' id='uid' value='{{user.uid}}' hidden>
        <textarea name="answer" cols="150" rows="10" id="noidung" maxlength="700" class='ques_id' required></textarea><br/>
        <button id='nopbai1' name='nopbai1' onClick='nopbai()' type='submit'>Nộp Bài</button>
      </form>
        {% endif %}
        {% if user.role == 1 %}
        <button id="viewpoint" onclick='window.location.href="/baitap/viewdiem/{{x.0}}"' name='viewpoint'>Xem điểm</button>
        <button type='button' class='btn btn-success' id='edit' name='edit 'onclick='window.location.href="/baitap/quesedit/{{x.0}}"'>Sửa</button>
        <form method='POST' action="{% url 'delques' x.0 %}">
          {% csrf_token %}
        <input value='{{x.4}}' name='eid' id='eid' hidden>
        <button type='submit'>Xoá</button><br/>
        </form>
        <hr/>
        {% else %}
        {% endif %}
    {% endif %}    
      
    {% if page_obj.has_next %}
      <button class="btn btn-primary" onclick='window.location.href="{{request.path}}?page={{page_obj.next_page_number}}"' >Tiếp Theo</button>
    {% endif %}
    {% if page_obj.has_previous %}
        <button class="btn btn-primary" onclick='window.location.href="{{request.path}}?page={{page_obj.previous_page_number}}"' >Quay Lại</button>
    {% endif %}
    {% if user.role == 1 %}
      <button class='btn btn-success' id='myBtn' type='button' onclick='window.location.href="/baitap/quanly/{{eid}}"'>Thêm Câu Hỏi</button>
    {% else %}
    {% endif %} 
    <input type=button value="Reload Page" onClick="reload()"> 
    <input type=button value="Back" onClick="window.location.href='/baitap/'"> 
    <form method='POST' action="/baitap/saveques/">
    {% csrf_token %}
    <div id="add_question" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Thêm câu hỏi</h2>
    </div>
    <div class="modal-body">
            <tr><th><label for="cauhoi">Câu số:</label></th>
                <td><input type="number" name="cauhoi" id="cauhoi" value='1' required></td></tr><br/>
            <tr><th><label for="title">Câu Hỏi:</label></th>
                <td><input type="text" name="title" id="title" cols="100" rows="10" maxlength="300" required></td></tr><br/>
            <tr><th><label for="max_point">Số Điểm: </label></th>
                <td><input type="number" name="max_point" value="0" id="max_point" required></td></tr><br/>
            <tr><th><label for="description">Thông tin:</label></th><br/>
                <td><textarea name="description" cols="100" rows="5" id="description" maxlength="500" required></textarea></td></tr><br/>
                <td><input value='{{eid}}' name="eid" id="eid" required hidden></td></tr>
            <tr><th><label for="answergv">Đáp án:</label></th><br/>
                <td><input type="text" name="answergv" id="answergv" maxlength="700"></td></tr><br/>
            <tr><th><label for="key">Từ Khoá:</label></th><br/>
                <td><input type="text" name="key" id="key" required></textarea></td></tr><br/>
                <input type="hidden" name="next" value="{{ request.path }}">    
      <center><button class="btn btn-success" id='login11' type='submit' >Thêm</button><center>      
    </div>
  </div>
</div>
</div>
</form>
{% endfor %} 
{% csrf_token %}
<script type="text/javascript">
function reload(){
  location.reload();
}
function addquestion() {
var eid = $("#eid").val();
var question_id = $("#question_id").val();
var question_title = $("#question_title").val();
var answer = $("#answer").val();
$.ajax({
              url: "api/searchcustomer.php", // gửi ajax đến đâu ghi vào nha
              type: "post", // chọn phương thức gửi là post
              dataType: "text", // dữ liệu trả về dạng text
              data: {
                  eid: eid,
                  question_id: question_id,

              },
              success: function(result) {
                  const obj = JSON.parse(result);
                  if (obj["status"] == "0") {
                      $('#customer_name').val(obj["name"]);
                      $('#customer_address').val(obj["address"]);
                      $('#customer_contact').val(obj["contact"]);
                  }
              }
          });
}
</script>
<script>
// Get the modal
var modal = document.getElementById("add_question");


// Get the button that opens the modal
var btn = document.getElementById("myBtn");


// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];


// When the user clicks the button, open the modal 
btn.onclick = function() {
modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
if (event.target == modal) {
  modal.style.display = "none";
}
}
</script>
<script type="text/javascript">
function nopbai(){
var total = $(".ques_id").length;
var token = getCookie(token);//getCookie(token)
const data = {
token: token,
answer: [],
}
for (let i = 0; i < total; i++) {
var answerid = document.getElementsByClassName('ques_id')[i].value;
var answer = document.getElementById(answerid).value;
var obj = {
id: '',
content: '',
}
obj.id = answerid;
obj.content = answer;
data.answer[i] = obj;
}
return data;
}
function submit1(){
var answer = $("[name=answer]").val();
if (answer == ''){
Swal.fire({ icon: 'warning', title: 'Thiếu thông tin', text: 'Vui lòng điền đầy đủ thông tin', background: '#fff url(https://www.pngitem.com/pimgs/b/149-1492667_white-background-png.png)'})
    return;
}else {
var csrftoken = $.cookie('csrftoken');

function csrfSafeMethod(method) {
// these HTTP methods do not require CSRF protection
return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
beforeSend: function(xhr, settings) {
    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
    }
}
});
console.log(JSON.stringify(nopbai()));
    $.ajax({
        url: "{% url 'save' eid %}", // gửi ajax đến 'save' eid
        type: "get", // chọn phương thức gửi là post
        data: JSON.stringify(nopbai()),
        contentType: "application/json; charset=utf-8",
        success: function(result) {
          Swal.fire({ icon: 'success', title: 'Đã Lưu thành công', text: 'Bấm nộp bài nếu bạn đã làm xong!', background: '#fff url(https://www.pngitem.com/pimgs/b/149-1492667_white-background-png.png)'});
        },
        error: function(jqXHR, textStatus, errorThrown){
          Swal.fire({ icon: 'error', title: 'Lỗi', text: 'Lỗi không xác định', background: '#fff url(https://www.pngitem.com/pimgs/b/149-1492667_white-background-png.png)'});
        } 
    });
}
}
</script>
 
{% endblock %}