{% extends "pages/base.html" %}
{% load static %}
{% block title %}Profile Editor{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/stylesprofile.css' %}">
<form method='POST' action='{% url "updateprofile" %}'>
    {% csrf_token %}
  <div class="wrapper">
    <div class="left">
      <img src="https://66.media.tumblr.com/1a1c3bcc08b5a048b90139a56fe7f415/tumblr_o9ku1rVS8z1vnqjx7o2_250.png" alt="user" width="100">
        <h4><strong>{{user.username}}</strong></h4>
          {% if user.role == 0 %}
            Học Sinh
          {% else %}
            Giáo Viên
          {% endif %}
    </div>
    <div class="right">
        <div class="info">
            <h3>Thông Tin Cá Nhân</h3>
              <div class="info_data">
                <div class="data">
                  <div class="form-group">
                    <label>Họ và Tên</label>
                    <input style=" 
                    background-color: #dddddd;
                    color: #666666;
                    padding: 10px 32px;
                    border: 2px solid transparent;
                    outline: none;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.4;
                    width: 100px;
                    height: 40px;
                    transition: all 0.2s;
                    width: 100%;
                    max-width: 100%;
                    min-width: 100%;
                    cursor: text;
                    background-color: #f3f3f3;
                    margin-top: 10px;
          "name='firstname' value='{{ user.first_name }}' type="firstname" maxlength="254" id="id_firstname" class="form-control form-control-lg" required></p>
                    <label>Email</label>
                    <input style=" 
                    background-color: #dddddd;
                    color: #666666;
                    padding: 10px 32px;
                    border: 2px solid transparent;
                    outline: none;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.4;
                    width: 100px;
                    height: 40px;
                    transition: all 0.2s;
                    width: 100%;
                    max-width: 100%;
                    min-width: 100%;
                    cursor: text;
                    background-color: #f3f3f3;
                    margin-top: 10px;
          "name='email' value='{{ user.email }}' type="email" maxlength="254" id="id_email" class="form-control form-control-lg"required></p>
                    <label>Số thứ tự</label>
		                <input style=" 
                    background-color: #dddddd;
                    color: #666666;
                    padding: 10px 32px;
                    border: 2px solid transparent;
                    outline: none;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.4;
                    width: 100px;
                    height: 40px;
                    transition: all 0.2s;
                    width: 100%;
                    max-width: 100%;
                    min-width: 100%;
                    cursor: text;
                    background-color: #f3f3f3;
                    margin-top: 10px;
          "name='stt' value='{{ user.stt }}' type="number" id="id_stt" class="form-control form-control-lg" required></p>
                    <label>Lớp</label>
		                <input style=" 
                    background-color: #dddddd;
                    color: #666666;
                    padding: 10px 32px;
                    border: 2px solid transparent;
                    outline: none;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.4;
                    width: 100px;
                    height: 40px;
                    transition: all 0.2s;
                    width: 100%;
                    max-width: 100%;
                    min-width: 100%;
                    cursor: text;
                    background-color: #f3f3f3;
                    margin-top: 10px;
          "name='lop' value='{{ user.lop }}' type="text" maxlength="20" id="id_lop" class="form-control form-control-lg" required></p>
                    <label>Trường</label>
		                <input style=" 
                    background-color: #dddddd;
                    color: #666666;
                    padding: 10px 32px;
                    border: 2px solid transparent;
                    outline: none;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.4;
                    width: 100px;
                    height: 40px;
                    transition: all 0.2s;
                    width: 100%;
                    max-width: 100%;
                    min-width: 100%;
                    cursor: text;
                    background-color: #f3f3f3;
                    margin-top: 10px;
          "name='school' value='{{ user.school }}' type="text" maxlength="30" id="id_school" class="form-control form-control-lg" required></p>
                    <label>Số điện thoại</label>
                    <input style=" 
                    background-color: #dddddd;
                    color: #666666;
                    padding: 10px 32px;
                    border: 2px solid transparent;
                    outline: none;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.4;
                    width: 100px;
                    height: 40px;
                    transition: all 0.2s;
                    width: 100%;
                    max-width: 100%;
                    min-width: 100%;
                    cursor: text;
                    background-color: #f3f3f3;
                    margin-top: 10px;
          "name="phone_number" value='{{ user.phone_number }}' type="text" maxlength="15" id="id_phone_number" class="form-control form-control-lg" required></p>
                    <input value='{{user.username}}' name='user' hidden>
                  <button class="button-36" role="button" type='submit'>Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</form>
</body>
</html>
{% endblock %}