{% extends "pages/base.html" %}
{% load static %} 
{% block title %}Profile{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/stylesprofile.css' %}">

{% if user.username %}
    <div class="wrapper">
    <div class="left">
              <img src="D:\Codes\PythonWeb\{{user.avt}}">
              <h4><strong>{{user.username}}</strong></h4>
                {% if user.role == 0 %}
                Học Sinh
                {% else %}
                Giáo Viên
                {% endif %}
                {% if user.school == '' %}
                <button class="button-36" role="button" onclick='window.location.href="{% url "addprofile" %}"'>Thêm Thông Tin</button>
                {% else %}
                <button class="button-36" role="button" onclick='window.location.href="{% url "addprofile" %}"'>Thay Đổi Thông Tin</button>
                {% endif %}       
    </div>
    <div class="right">
        <div class="info">
            <h3>Thông Tin Cá Nhân</h3>
              <div class="info_data">
                <div class="data">
                  <label>Họ Và Tên</label>
                  <p>{{user.first_name}}</p>
                  <label>Email</label>
                  <p>{{user.email}}</p>
                  <label>Số Thứ Tự</label>
                  <p>{{user.stt}}</p>
                  <label>Lớp</label>
                  <p>{{user.lop}}</p>
                  <label>Trường</label>
                  <p>{{user.school}}</p>
                  <label>Số Điện Thoại</label>
                  <p>{{user.phone_number}}</p>
                </div>
              </div>
        </div>
      </div>
  </div>
</body>
</html>

{% else %}<hr/>
    <h3><center><p>Không đăng nhập thì vào profile làm gì wtf</p></center></h3><hr/>
{% endif %}
{% endblock %}