{% extends "pages/base.html" %}
{% load static %}

{% block title %}Thêm Bài Lớp Học Mới{% endblock %}

{% block content %}
<head>
<link rel="stylesheet" href="{% static 'css/thembai.css' %}">
<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
</head>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<form action="{% url 'savelop' %}" method="POST">
    {% csrf_token %}
	<div class="thembai">
	<p><strong><h2>{{ user.username }}</h2></strong></p>
	<div class="thembaih3"><h3>Tạo Lớp Học Mới</h3>
    <p>Lớp Học: </p>
    <input type="None" name="lophoc" id="lophoc" maxlength="50" required>
    <select>
    <option>------CHỌN LỚP------</option>
    {% for a, x in q.items %}
    <option value='{{x.1}}' name='lop'>{{x.1}}</option>
    {% endfor %}
    </select>
    <p>Số Học Sinh:</p>
    <input name="sohocsinh" cols="40" rows="10" id="sohocsinh" required></input>
	<input value='{{ user.uid }}' type="hidden" name="uid" id="uid" required>
	<br/>
	<table>
		<tr>
			<th>Số Thứ Tự</th>
			<th>Username</th>
			<th>Tên Học Sinh</th>
			<th>Trường</th>
			<th>Email</th>
			<th>Tác Vụ</th>
		</tr>
	{% for d, e in a.items %}
	{% if e.16 == 0 %}
		<tr>
			<td>{{e.15}}</td>
			<td>{{e.3}}</td>
			<td>{{e.4}} {{e.5}}</td>
			<td>{{e.12}}</td>
			<td>{{e.6}}</td>
			<td><button type='button'>Thêm</button></td>
	{%endif%}
    {% endfor %}
	</tr>
	</table>
	<button class="button5" id="login1" name="login1" type='submit'>Thêm Lớp Học</button>
	<input type=button value="Back" onClick="javascript:history.go(-1);">
	</div>
</form>
<script type="text/javascript">
    $(document).ready(function() {
				$("#login1").click(function(){
				var name1 = $("[name=title]").val();
				var name2 = $("[name=description]").val();
				var name3 = $("[name=max_point]").val();
				var name4 = $("[name=start_time]").val();
				var name5 = $("[name=end_time]").val();
			if (name1 == "" || name2 == "" || name3 == "" || name4 == "" || name5 == "") {
			Swal.fire({ icon: 'warning', title: 'Thiếu thông tin', text: 'Vui lòng điền đầy đủ thông tin', background: '#fff url(https://www.pngitem.com/pimgs/b/149-1492667_white-background-png.png)'})
		    return;
			} else {
        		$("#login1").submit(function() {
				})
        	}
		})
	})
</script>
{% endblock %}