{% extends "pages/base.html" %}

{% block title %}Confirmation{% endblock %}

{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/delete.css' %}">
<br/>
<hr/>
<center><h1><strong><p style='color: red'>Bạn có chắc chắn sẽ xoá? (Tác vụ này sẽ không thể hoàn tác)<p></strong></h1></center>
<hr/>
<center>
    <form method='POST' action="{% url 'examdelete' %}">
        {% csrf_token %}
<br/>
<input value='{{id}}' name='eid' id='eid' hidden>
<input class='xoabut' value="Delete" type='submit'>
<input type=button class='viewbut' value="Back" onClick="reload_page()">
</center>
</form>
<script>
    function reload_page(){
        history.back();
    }
</script>
{% endblock %}