{% extends "pages/base.html" %}

{% block title %}All Done!{% endblock %}

{% block content %}
<head>
<center><p><h1><label><strong>AUTOMATE HISTORY GRADING</strong><label></h1></p></center>
</head>
<hr/>
<h3><center><p>Đã nộp bài thành công! Điểm được hiển thị ở bên dưới</p><br/>
<p>Điểm: {{ Score }}</p></center></h3><hr/><br/>
<p>Điểm máy chấm {{ AIP }}</p></center></h3><hr/><br/>
<p>Điểm KeyWord {{ KeyP }}</p></center></h3><hr/><br/>
<button class="btn btn-primary" onclick="window.location.href='{% url 'index' %}'">Quay lại</button>
{% endblock %}
